* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    padding: 30px;
    color: white;
}



header {
    text-align: center;
    margin-bottom: 30px;
}

header a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    transition: 0.3s ease;
}

header a:hover{
    color: #ffd369;
}

h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.main-form,
ul {
    background: linear-gradient(145deg, #1f1c2c, #2a2440);
    border-radius: 14px;
    padding: 25px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 10px 35px rgba(0,0,0,0.5);
    animation: fadeIn 0.6s ease-in-out;
    color: #f5f5f5;
}



input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input: focus{
    box-shadow: 0 0 8px #ffd369;
}

button{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    bakground: linear-gradient(45deg, #ff5a00, #ee0979)
    color: white;
    font_weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

ul {
    list-style: none;
}

li {
    li {
    background: rgba(255,255,255,0.25);
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

li:hover {
    transform: translateX(5px);
    background: rgba(255,255,255,0.35);
}

a {
    color: #ffd369;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: white;
}

.error {
    text-align: center;
    color: #ff4d4d;
    font-weight: bold;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}